.root {
  li {
    display: inline-block;
    text-align: center;
    width: 40px;
    line-height: 38px;
    height: 40px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    margin-right: 10px;

    &:hover {
      background-color: #fe5f1e;
      cursor: pointer;

      a {
        color: #ffffff;
      }
    }

    a {
      color: #fe5f1e;
    }
  }
}