.root {
  position: relative;
  left: -40px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 45px;
  width: 600px;
  border-radius: 40px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 12px;
}

.clearIcon {
  width: 18px;
  height:18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
}